*{
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Google Sans';
}
/* :root{
    --background: white;
    --secondary: black;
    --accent-one: #418df9;
    --accent-two:#dee9ff;
    --hover-bg:#d8e3fa;
} */
.darkmode {

}
body{
    overflow:hidden;
}
header{
    display:flex;
    justify-content: space-between;
    padding: 0.2rem 2rem;
    align-items: center;
}

svg{
    width:2rem;
    margin-left:0.1rem; 
    padding: 0.1rem 0.2rem;
    /* border: 1px solid #dee9ff; */
    /* border-radius:0.3rem; */

    
}
svg:active{
    transform: scale(0.8);
    background-color: rgba(37, 34, 30, 0.07);
    
    transition: transform 0.5s ease;
}
.quick-action>svg:hover{
    background-color: rgba(37, 34, 30, 0.07);
    border-radius:0.3rem;
    

}

nav{
    position:fixed;
    top:90px;
    left:-900px;
    /* display:none; */
    height:100vh;
    background-color:#dee9ff;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    width:250px;
    transition:0.5s;
    z-index: 1;

}
.logo{
    font-size:2rem;
    font-family:'Playwrite IN Guides'
}
#night-icon{
    display:none;
}
.no-tasks{
   
    width:100vw;
    height:100vh;
    /* border: 1px solid black; */
    /* position:relative; */
    display:none;
    text-align: center;
}

.no-tasks>img{
    display: inline-block;
    width:100%;
    max-width: 650px;
    margin-top:-5rem;   
    
}
.no-tasks>p{
    text-align: center;
    margin-top:-5.9rem;
}
.add-task{
    text-align:center;
    position:fixed;
    bottom:50px;
    width:100%;

}
.add-task>input{
    height:59px;
    max-width:800px;
    width:100%;
    border-radius: 18px;
    font-size:1rem;
    padding:1rem;
    border:1px solid rgb(226, 226, 226);
    box-shadow: 0  0 1px rgba(0,0,0,0.3) ;

}
.add-task>input:focus{
    outline:1px solid#418df9;
}
.add-task>input::placeholder{
    color:grey;
}

#up-arrow{
    margin-left:-58px;
    margin-bottom:-12px;
    background-color: #418df9;
    fill:white;
    border-radius:20px;
    padding:0.4rem;
    width:2rem;
}

a{
    text-decoration:none;
    color:#418df9;
    padding:0.4rem 0.6rem;
    /* border:2px solid black; */
    font-size: 18px;
    display:flex;
    margin-top:0.7rem;
    align-items:flex-end;
    
}
a>svg{
    width:1.5rem;
    fill:#418df9
}
a:hover{
    background-color: #d8e3fa;
    border-radius:0.3rem;
}
ul{
    list-style-type: none;
}
ul>li{
    width:100%
}
#completed-tasks{
    padding:2rem 4rem;
    
}
#completed-tasks>div{
    max-width:800px;
    border:1px solid rgb(226, 226, 226);
    border-radius: 18px;
    
    margin:auto;
    padding:1rem 2rem;
    display:flex;
    align-items:center;
    gap:1rem;
    margin-bottom:1rem;
    position:relative;

}

#completed-tasks>div>input{
    width:20px;
    height:20px;
    color:#418df9;
}
#completed-tasks>div>svg{
    position:absolute;
    top:15px;
    right:20px;
    fill:#dee9ff
}
#completed-tasks>div:hover svg{
    fill:red;
}
#completed-tasks>div:hover{
    border:1px solid #418df9
}
li{
    display: inline-block;
}

.no-tasks p{
    color:grey;
}